GIMP/
QtProject.conf
baloofileinformationrc
chromium/
dconf/
discord/
dolphinrc
filetypesrc
fish/
git/
go/
gtk-3.0/
gtk-4.0/
mimeapps.list
mozilla/
nvim/
pavucontrol.ini
pulse/
rofi.devan/
rofi/
session/
solaar/
spotify/
trashrc
uv/
waybar/
io.hoppscotch.desktop/
net.imput.helium/
