@use "./colors";

#arch-icon {
  font-size: 20px;
  margin-left: 14px;
  padding-right: 14px;
  padding-left: 8px;
  border-radius: 0;

  & .toggle {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  &:hover {
    color: colors.$fg-semi-disabled;
  }
}
