@use "./colors";

.menu-button {
  background-color: transparent;
  transition: background-color 0.25s;

  &:hover {
    background-color: colors.$bg-light-hover
  }
}

.menu-button-icon {
  margin-right: 6px;
}
